[user]
	name = Álvaro Troya
	email = alvaro.troya.ec@googlemail.com

[credential]
	helper = store

[core]
	autocrlf = input

[init]
	defaultBranch = main

[push]
  autoSetupRemote	= true

[pull]
	ff = true

[rerere]
	enabled = true

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	df = diff
	wt = worktree
	cp = cherry-pick
	unstage = reset HEAD --
	last = log -1 HEAD
	lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 20 | awk -F' ~ HEAD@{' '{printf(\"  %s:  %s\\n\", substr($2, 1, length($2)-1), $1)}'
